<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  {# Grab the title and description from the CMS general settings. #}
  {% set site_title = getSetting('site_name')%}
  {% set site_description = getSetting('site_description')%}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ site_title|default('Webhook site') }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ site_description|default('Built with Webhook.') }}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="apple-touch-icon icon-precomposed" href="/static/images/apple-touch-icon.png"/>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- build:css /static/css/minified.css -->
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/wysiwyg_figures.css"/>
    <!-- endbuild -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>


    <!--Main menu bar style -->
    <link href="/static/main_menu_bar/styles.css" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type='text/javascript' src='/static/main_menu_bar/menu_jquery.js'></script>

    <!-- Content Slider -->
    <link href="/static/owl.carousel/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="/static/owl.carousel/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block head_extra %}{% endblock %}
  </head>
  <body style="width: 100%; margin: 0 auto;">


  <!-- Main Banner: The Daily Texan -->
  <a href='../../index.html'><img id="title-banner" style="max-width:100%;" src="/static/images/titleBanner.png"></a>
  <div id="triangle"></div>


  <!-- Breaking News -->
  <div id="breaking-news"></div>


  <!-- Main content border: light grey -->
  <div id="base-container" style="border-left: 1px solid #bababa; border-right: 1px solid #bababa;">

    <div id='cssmenu'>
    <ul>
       <li class='active' style="width:0; padding:0; margin:-2px;"></li>
       <li class='has-sub'><a href='#'><span>News</span></a>
          <ul>
             <li><a href='#'><span>Student Government</span></a></li>
             <li><a href='#'><span>University</span></a></li>
             <li><a href='#'><span>City</span></a></li>
             <li><a href='#'><span>State</span></a></li>
             <li><a href='#'><span>World & Nation</span></a></li>
             <li><a href='#'><span>Elections</span></a></li>
             <li class='last'><a href='#'><span>Legislature</span></a></li>
          </ul>
       </li>
       <li class='has-sub'><a href='#'><span>Opinion</span></a>
          <ul>
             <li><a href='#'><span>Columns</span></a></li>
             <li><a href='#'><span>Viewpoints</span></a></li>
             <li class='last'><a href='#'><span>Firing Lines</span></a></li>
          </ul>
       </li>
       <li class='has-sub'><a href='#'><span>Sports</span></a>
          <ul>
             <li><a href='#'><span>Double Coverage</span></a></li>
             <li><a href='#'><span>Football</span></a></li>
             <li><a href='#'><span>Volleyball</span></a></li>
             <li><a href='#'><span>Men's Basketball</span></a></li>
             <li><a href='#'><span>Women's Basketball</span></a></li>
             <li><a href='#'><span>Baseball</span></a></li>
             <li><a href='#'><span>Softball</span></a></li>
             <li><a href='#'><span>Other UT Sports</span></a></li>
             <li class='last'><a href='#'><span>The Pros</span></a></li>
          </ul>
       </li>
       <li class='has-sub'><a href='#'><span>Life and Arts</span></a>
          <ul>
             <li><a href='#'><span>Books</span></a></li>
             <li><a href='#'><span>Fashion</span></a></li>
             <li><a href='#'><span>Features</span></a></li>
             <li><a href='#'><span>Food</span></a></li>
             <li><a href='#'><span>Games & Tech</span></a></li>
             <li><a href='#'><span>Movies & TV</span></a></li>
             <li><a href='#'><span>Music</span></a></li>
             <li><a href='#'><span>SXSW</span></a></li>
             <li><a href='#'><span>Theater & Art</span></a></li>
             <li><a href='#'><span>ACL Festival</span></a></li>
             <li class='last'><a href='#'><span>X Games</span></a></li>
          </ul>
       </li>
       <li class='has-sub'><a href='#'><span>Multimedia</span></a>
          <ul>
             <li><a href='#'><span>Slideshows</span></a></li>
             <li><a href='#'><span>Comics</span></a></li>
             <li class='last'><a href='#'><span>Podcasts</span></a></li>
          </ul>
       </li>
       <li class='last'><a href='#'><span>Comics</span></a></li>
    </ul>
    </div>
    <div style="padding-left:20px; padding-right:20px;">
      {% block body %}
        <!--[if lt IE 7]>
          <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        {% include "templates/partials/header.html" %}

        {% block content %}{% endblock %}

        {% include "templates/partials/footer.html" %}


        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        {% block scripts %}{% endblock %}

        <!-- build:js /static/javascript/minified.js --><!-- endbuild -->

        {# Google Analytics code. Feel free to remove. #}
        <script>
          var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src='//www.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
      {% endblock %}
    </div>
    </div>

    <!-- Main footer -->
    <div id="footer" style="color:white; text-align:center;"><h2>COMING SOON: FOOTER</h2></div>
  </body>
</html>
