
a {
color: #cf5300;
text-decoration: none;
}

.vp2_html5_rightSidePlaylistBorder {
	position:relative;
}

/* the container */
.vp2_html5_rightSidePlaylist {
	background:#000000;
}

.vp2_html5_rightSidePlaylist p {
	margin:0;
	padding:0;
}

.xplaylist {
	display:none;
}

/* jquery ui styles */
.ui-slider-handle {
	position: absolute;
	z-index: 2;
	display: block;
	margin-left:-0.6em;
	cursor: default;
	outline: none;
}

.ui-slider-range {
	display:block;
	width:100%;	
	height:100%;
	left:0;
	bottom: 0;
	border:0 none;
	position:absolute;
	z-index:1;
}

.ui-progressbar { 
	/*height: 5px;*/
}
.ui-progressbar-value {
	height:100%;
}

/* giant */
.vp2_html5_rightSidePlaylist.giant {
	float: left;
	position: relative;
	font:11px Arial, Helvetica, sans-serif;
}

.vp2_html5_rightSidePlaylist.giant .VideoControls {
	position: absolute;
	left:0;
	bottom:45px;
	float: left;
	clear: both;
	width: 100%;
}

/* play */
.vp2_html5_rightSidePlaylist.giant .VideoPlay {
	float:left;
	cursor: pointer;
	display: block;
	width: 88px;
	height: 88px;
	margin-left: 10%;
	background: url(images/giant/play-off.png) no-repeat;	
}
.vp2_html5_rightSidePlaylist.giant .VideoPlay:hover {	
    background: url(images/giant/play-on.png) no-repeat;	
}
/* pause */
.vp2_html5_rightSidePlaylist.giant .VideoPause {
	width: 88px;
	height: 88px;
	background: url(images/giant/pause-off.png) no-repeat;
}
.vp2_html5_rightSidePlaylist.giant .VideoPause:hover {
	background: url(images/giant/pause-on.png) no-repeat;
}

/*.vp2_html5_rightSidePlaylist.giant video {
	float: left;
}*/

/* buffer */
.vp2_html5_rightSidePlaylist.giant .VideoBuffer {
	position:absolute;
	height: 17px;
	margin: 35px 0px 0px 225px;
	background:url(images/giant/seek_bg.png) 0 0 repeat-x;
	border-left:2px solid #FFFFFF;
	border-right:2px solid #FFFFFF;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	padding:0 0px;
}
.vp2_html5_rightSidePlaylist.giant .VideoBuffer .ui-widget-content {  }
.vp2_html5_rightSidePlaylist.giant .VideoBuffer .ui-widget-header { 
	background:#CCCCCC;
	height:13px;
	margin-top:2px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;	
}


/* seek */
.vp2_html5_rightSidePlaylist.giant .VideoSeek {
	position:absolute;
	height: 13px;
	margin: 37px 0px 0px 229px;
	cursor: pointer;
}

.vp2_html5_rightSidePlaylist.giant .VideoSeek .ui-slider-handle {
	width: 19px;
	height: 19px;
	margin-left:-10px;
	top:-5px;
	border: 2px solid #FFFFFF;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;	
	background: #000000;
}

.vp2_html5_rightSidePlaylist.giant .VideoSeek .ui-slider-handle.ui-state-hover {
	background: #cf5300;
}

.vp2_html5_rightSidePlaylist.giant .VideoSeek .ui-slider-range {
	background: #cf5300;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-left:-2px;
}

/* fullscreen */
.vp2_html5_rightSidePlaylist.giant .VideoFullScreen {
	float:left;
	cursor:pointer;
	bottom: 27px;
	right: 23px;
	width: 0px;
	height: 36px;
	background:url(images/giant/fullscreen-off.png) 0 0 no-repeat;
}
.vp2_html5_rightSidePlaylist.giant .VideoFullScreen:hover {
	background:url(images/giant/fullscreen-on.png) 0 0 no-repeat;
}
.vp2_html5_rightSidePlaylist.giant .VideoFullScreenIn {
	float:left;
	cursor:pointer;
	position: absolute;
	bottom: 27px;
	right: 23px;
	width: 36px;
	height: 36px;
	background:url(images/giant/fullscreen-in-off.png) 0 0 no-repeat;
}
.vp2_html5_rightSidePlaylist.giant .VideoFullScreenIn:hover {
	background:url(images/giant/fullscreen-in-on.png) 0 0 no-repeat;
}


/* volume container */
.vp2_html5_rightSidePlaylist.giant .VolumeAll {
	float:left;
	position: absolute;
	margin: 16px 0px 0px 153px;
	overflow: hidden;
	width: 58px;
	height: 58px;
}

.vp2_html5_rightSidePlaylist.giant .VolumeAll:hover {	
	height: 220px;
	background:url(images/giant/VolumeSliderBg.png) 18px 10px no-repeat;
	left:0px;
	bottom:14px;
}

/* volume slider */
.vp2_html5_rightSidePlaylist.giant .VolumeSlider {	
	position: relative;
	height: 140px;
	width: 23px;	
	visiblity: hidden;
	opacity: 0;
	left: 18px;
	bottom:-17px;
}
.vp2_html5_rightSidePlaylist.giant .VolumeAll:hover .VolumeSlider {
	position: relative;
	visibility: visible;
	opacity: 1;
}

.vp2_html5_rightSidePlaylist.giant .VolumeSlider .ui-slider-handle {
	width: 19px;
	height: 19px;
	left: 0px;
	margin-bottom:-8px;
	margin-left:0;
	border: 2px solid #FFFFFF;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;	
	background: #000000;

}

.vp2_html5_rightSidePlaylist.giant .VolumeSlider .ui-slider-handle.ui-state-hover {
	background: #cf5300;
}

.vp2_html5_rightSidePlaylist.giant .VolumeSlider .ui-slider-range {
	background: #cf5300;
	width:11px;
	left:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}

/* volume button Mute & UnMute*/
.vp2_html5_rightSidePlaylist.giant .VolumeButton {
	position: absolute;
	bottom: 0px;
	display: block;
	width: 58px;
	height: 58px;
	background: url(images/giant/volume-off.png) no-repeat;
}

.vp2_html5_rightSidePlaylist.giant .VolumeButton:hover {
	background: url(images/giant/volume-on.png) no-repeat;
}

.vp2_html5_rightSidePlaylist.giant .VolumeButtonMute {
	position: absolute;
	bottom: 0px;
	display: block;
	width: 58px;
	height: 58px;
	background: url(images/giant/volumeMute-off.png) no-repeat;
}
.vp2_html5_rightSidePlaylist.giant .VolumeButtonMute:hover {
	background: url(images/giant/volumeMute-on.png) no-repeat;
}

.vp2_html5_rightSidePlaylist.giant .thumbsHolderWrapper {
	position:absolute;
	background:url(images/giant/empty.png) #cccccc;
	/*height:121px;
	width:100%;*/
	height:100%;
	overflow:hidden;
}
.vp2_html5_rightSidePlaylist.giant .thumbsHolderVisibleWrapper {
	position:absolute;
	/*width:100%;
	height:121px;*/
	height:100%;
	overflow:hidden;
}
.vp2_html5_rightSidePlaylist.giant .thumbsHolder {
	position:absolute;
}
.vp2_html5_rightSidePlaylist.giant .thumbsHolder_ThumbOFF {
	display:block;
	height:115px;
	background: #FFFFFF;
	cursor: pointer;
}
.vp2_html5_rightSidePlaylist.giant .thumbsHolder_ThumbOFF  .padding {
	padding:10px;
}
.vp2_html5_rightSidePlaylist.giant .thumbsHolder_ThumbOFF .title {
	font: bold 13px 'Droid Sans', sans-serif;
	color:#000;
	display:inline-block;
	padding-bottom:5px;
	line-height:1.4em;
}
.vp2_html5_rightSidePlaylist.giant .thumbsHolder_ThumbOFF .reg {
	font: 11px Arial, sans-serif;
	color:#000;
	line-height:1.4em;
}

.vp2_html5_rightSidePlaylist.giant .thumbsHolder_ThumbOFF img {
	position:relative;
	float:left;
	margin-right:10px;
}

.vp2_html5_rightSidePlaylist.giant .thumbsHolder_ThumbON {
	background:url(images/giant/bgPlaylistUnitOn.png) repeat-x top left #d3d3d3;
}
.vp2_html5_rightSidePlaylist.giant .thumbsHolder_ThumbON .title {
	color:#cf5300;
}
.vp2_html5_rightSidePlaylist.giant .thumbsHolder_ThumbON .reg {
	color:#FFF;
}

.movieDesc {
	font-size: 0px !important;
}

.movieTitle {
	font-size: 0px !important;
}

.VideoTimer {
	font-size: 0px !important;
}