@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
#cssmenu {
  font-family: 'Lato', sans-serif, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: left;
}
#cssmenu > ul {
  width: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #e6e3d9;
}
#cssmenu > ul li#responsive-tab {
  display: none;
  /* Hide for large screens */

}
#cssmenu > ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#cssmenu > ul li.right {
  float: right;
}
#cssmenu > ul li.has-sub {
  position: relative;
}
#cssmenu > ul li.has-sub:hover ul {
  display: block;
}
#cssmenu > ul li.has-sub ul {
  display: none;
  width: 250px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #bababa;
  border: 1px solid #bababa;
  border-top: 0 none;
}
#cssmenu > ul li.has-sub ul li {
  display: block;
}
#cssmenu > ul li.has-sub > a {
  background-image: url('images/caret.png');
  background-repeat: no-repeat;
  background-position: 90% -95%;
}
#cssmenu > ul li.has-sub > a.active,
#cssmenu > ul li.has-sub > a:hover {
  background: #a8a8a8 url('images/caret.png') no-repeat;
  background-position: 90% 195%;
}
#cssmenu > ul li a {
  display: block;
  padding: 11px 24px 12px 24px;
  text-decoration: none;
  color: black;
  font-weight: lighter;
}
#cssmenu > ul li a.active,
#cssmenu > ul li a:hover {
  background: #a8a8a8;
  color: #fff;
}
@media (max-width: 850px) {
  #cssmenu > ul {
    width: 100%;
    min-height: 40px;
  }
  #cssmenu > ul li#responsive-tab {
    display: block;
  }
  #cssmenu > ul li#responsive-tab a {
    background: url('images/menu.png') no-repeat;
    background-position: 97% 45%;
    height: 40px;
  }
  #cssmenu > ul li#responsive-tab a:hover {
    
  }
  #cssmenu > ul li {
    display: none;
  }
  #cssmenu > ul li.right {
    float: none;
  }
  #cssmenu > ul li.has-sub {
    display: none;
  }
  #cssmenu > ul li.has-sub ul {
    display: none;
  }
  #cssmenu > ul li.has-sub ul li {
    display: none;
  }
  #cssmenu > ul li.has-sub ul li a span {
    display: block;
    padding-left: 24px;
  }
  #cssmenu > ul li.has-sub > a {
    background-image: none;
  }
  #cssmenu > ul li.has-sub > a:hover {
    background-position: 190% 195%;
  }
  #cssmenu > ul li.has-sub ul li a {
    display: none;
  }
}
/* Make sure they show even if hidden in mobile view by JS */
@media (min-width: 850px) {
  #cssmenu > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
  #cssmenu > ul ul li.collapsed {
    display: block !important;
  }
}
