{# YOUR HOMEPAGE #}

{# First time seeing extend or blocks? Want to know how it works? Tutorial here: http://www.webhook.com #}
{% extends "templates/partials/base.html" %}

{# Homepage head content #}
{% block head_extra %}
    <link rel="stylesheet" type="text/css" href="/static/homepage_slideshow/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/homepage_department_headlines/css/style.css" />
    <noscript>
        <link rel="stylesheet" type="text/css" href="/static/homepage_slideshow/css/noscript.css" />
    </noscript>
    <link rel="stylesheet" type="text/css" href="/static/homepage_slideshow/css/style.css" />
    <link href="static/homepage_slideshow/css/homeSlider.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

    <!-- slideshow -->
    <div class="vp2_html5_rightSidePlaylistBorder">
        <div class="vp2_html5_rightSidePlaylist">       
            <video id="vp2_html5_rightSidePlaylist_GI" width="840" height="473" preload="auto">  
                <div class="xplaylist">
                    <ul>
                        <li class="xtitle">Lorem Ipsum Dolor</li>
                        <li class="xdesc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam a sem tortor, eu gravida massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent feugiat tellus sit amet nisl varius quis blandit mi pretium. Cras non neque diam. Vestibulum elit nunc, tristique quis vulputate eu, lobortis eu neque. Donec mollis consequat arcu.</li>
                        <li class="xthumb">static/homepage_slideshow/videos/thumbs/t_a1.jpg</li>
                        <li class="xpreview">static/homepage_slideshow/videos/previews/prev_a1.jpg</li>
                        <li class="xsources_mp4">static/homepage_slideshow/videos/big_buck_bunny_trailer.mp4</li>
                        <li class="xsources_webm">static/homepage_slideshow/videos/big_buck_bunny_trailer.webm</li>
                    </ul>
                  
                    <ul>
                        <li class="xtitle">Fusce Suscipit Risus</li>
                        <li class="xdesc">Phasellus vitae velit eu turpis consequat hendrerit. Curabitur vitae sapien libero, amet ornare lectus. Vestibulum lobortis quam eu dui luctus molestie. Sed dictum urna at erat congue ultricies ac ut dui. Etiam orci purus, cursus et aliquet et, iaculis sed enim. Sed felis felis, tristique eu suscipit venenatis, accumsan a augue. Donec non enim neque, nec pretium leo. Cras dapibus, lectus in facilisis cursus, dolor justo dictum ligula, quis cursus elit est in felis. Donec tristique magna at tellus gravida luctus.</li>
                        <li class="xthumb">videos/thumbs/t_b1.jpg</li>
                        <li class="xpreview">videos/previews/prev_b1.jpg</li>
                        <li class="xsources_mp4">videos/sintel_trailer.mp4</li>
                        <li class="xsources_webm">videos/sintel_trailer.webm</li>
                    </ul>
                    
                    <ul>
                        <li class="xtitle">Class Aptent Taciti</li>
                        <li class="xdesc">Maecenas interdum interdum enim id laoreet. Curabitur semper fermentum leo pretium eleifend.</li>
                        <li class="xthumb">videos/thumbs/t_a2.jpg</li>
                        <li class="xpreview">videos/previews/prev_a2.jpg</li>
                        <li class="xsources_mp4">videos/big_buck_bunny_trailer.mp4</li>
                        <li class="xsources_webm">videos/big_buck_bunny_trailer.webm</li>
                    </ul>
                    
                    <ul>
                        <li class="xtitle">Maecenas Lacus Ante</li>
                        <li class="xdesc">Donec hendrerit magna sit amet eros lobortis non egestas diam scelerisque. Praesent molestie aliquet ipsum.</li>
                        <li class="xthumb">videos/thumbs/t_b2.jpg</li>
                        <li class="xpreview">videos/previews/prev_b2.jpg</li>
                        <li class="xsources_mp4">videos/sintel_trailer.mp4</li>
                        <li class="xsources_webm">videos/sintel_trailer.webm</li>
                    </ul>     
                </div>       
            </video>
        </div>                  
    </div>
    <!-- end slideshow -->    
            

        <!-- advertisement -->
        <div class="advertisement">
            Advertisement here
        </div>


        <!-- content below main slider -->
        <!-- news, sports, life and arts -->
        <div id="department_headlines">

            <!-- NEWS headlines -->
            <div id="slider_news">
                <a href="#" class="control_next_news">></a>
                <a href="#" class="control_prev_news"><</a>
                <ul>
                    <li>SLIDE 1</li>
                    <li style="background: #aaa;">SLIDE 2</li>
                    <li>SLIDE 3</li>
                    <li style="background: #aaa;">SLIDE 4</li>
                </ul>  
            </div>

            <!-- SPORTS headlines -->
            <div id="slider_sports">
                <a href="#" class="control_next_sports">></a>
                <a href="#" class="control_prev_sports"><</a>
                <ul>
                    <li>SLIDE 1</li>
                    <li style="background: #aaa;">SLIDE 2</li>
                    <li>SLIDE 3</li>
                    <li style="background: #aaa;">SLIDE 4</li>
                </ul>  
            </div>
    
            <!-- LIFE AND ARTS headlines -->
            <div id="slider_las">
                <a href="#" class="control_next_las">></a>
                <a href="#" class="control_prev_las"><</a>
                <ul>
                    <li>SLIDE 1</li>
                    <li style="background: #aaa;">SLIDE 2</li>
                    <li>SLIDE 3</li>
                    <li style="background: #aaa;">SLIDE 4</li>
                </ul>  
            </div>
        </div>



{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/homepage_department_headlines/js/script.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="static/homepage_slideshow/js/jquery.mousewheel.min.js" type="text/javascript"></script>
    <script src="static/homepage_slideshow/js/homeSlider.js" type="text/javascript"></script>
    <script src="static/homepage_slideshow/js/screenfull.min.js" type="text/javascript" charset="utf-8"></script>

    <script>
        $(function() {
            jQuery('#vp2_html5_rightSidePlaylist_GI').vp2_html5_rightSidePlaylist_Video({
                skin: 'giant',
                borderWidth: 0,
                borderColor: '#000000',
                seekBarAdjust:410               
            });   
        });
    </script>
{% endblock %}