{# YOUR HOMEPAGE #}

{# First time seeing extend or blocks? Want to know how it works? Tutorial here: http://www.webhook.com #}
{% extends "templates/partials/base.html" %}

{# Homepage head content #}
{% block head_extra %}
  <link rel="stylesheet" type="text/css" href="/static/homepage_slideshow/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/static/homepage_department_headlines/css/style.css" />
  <noscript>
    <link rel="stylesheet" type="text/css" href="/static/homepage_slideshow/css/noscript.css" />
  </noscript>
{% endblock %}


{% block content %}

        <div class="container">
            <div class="wrapper">
                <div id="ei-slider" class="ei-slider">
                    <ul class="ei-slider-large">
                        <li>
                            <img src="/static/homepage_slideshow/images/fisher.jpg" alt="image01" />
                        </li>
                        <li>
                            <img src="/static/homepage_slideshow/images/mcraven.jpg" alt="image02" />
                        </li>
                        <li>
                            <img src="/static/homepage_slideshow/images/solar.jpg" alt="image03"/>
                        </li>
                        <li>
                            <img src="/static/homepage_slideshow/images/longhorns.jpg" alt="image04"/>
                        </li>
                        <li>
                            <img src="/static/homepage_slideshow/images/congress.jpg" alt="image05"/>
                        </li>
                        <li>
                            <img src="/static/homepage_slideshow/images/faker.jpg" alt="image07"/>
                        </li>
                    </ul><!-- ei-slider-large -->
                    <ul class="ei-slider-thumbs">
                        <li class="ei-slider-element"></li>
                        <li><a href="#">Slide</a><img src="/static/homepage_slideshow/images/fisher.jpg" alt="thumb01" /></li>
                        <li><a href="#">Slide</a><img src="/static/homepage_slideshow/images/mcraven.jpg" alt="thumb02" /></li>
                        <li><a href="#">Slide</a><img src="/static/homepage_slideshow/images/solar.jpg" alt="thumb03" /></li>
                        <li><a href="#">Slide</a><img src="/static/homepage_slideshow/images/longhorns.jpg" alt="thumb04" /></li>
                        <li><a href="#">Slide</a><img src="/static/homepage_slideshow/images/congress.jpg" alt="thumb05" /></li>
                        <li><a href="#">Slide</a><img src="/static/homepage_slideshow/images/faker.jpg" alt="thumb07" /></li>
                    </ul><!-- ei-slider-thumbs -->
                </div><!-- ei-slider -->
            </div><!-- wrapper -->
        </div>

        <!-- advertisement -->
        <div class="advertisement">
            Advertisement here
        </div>


        <!-- content below main slider -->
        <!-- news, sports, life and arts -->
        <div id="department_headlines">

            <!-- NEWS headlines -->
            <div id="slider_news">
                <a href="#" class="control_next_news">></a>
                <a href="#" class="control_prev_news"><</a>
                <ul>
                    <li>SLIDE 1</li>
                    <li style="background: #aaa;">SLIDE 2</li>
                    <li>SLIDE 3</li>
                    <li style="background: #aaa;">SLIDE 4</li>
                </ul>  
            </div>

            <!-- SPORTS headlines -->
            <div id="slider_sports">
                <a href="#" class="control_next_sports">></a>
                <a href="#" class="control_prev_sports"><</a>
                <ul>
                    <li>SLIDE 1</li>
                    <li style="background: #aaa;">SLIDE 2</li>
                    <li>SLIDE 3</li>
                    <li style="background: #aaa;">SLIDE 4</li>
                </ul>  
            </div>
    
            <!-- LIFE AND ARTS headlines -->
            <div id="slider_las">
                <a href="#" class="control_next_las">></a>
                <a href="#" class="control_prev_las"><</a>
                <ul>
                    <li>SLIDE 1</li>
                    <li style="background: #aaa;">SLIDE 2</li>
                    <li>SLIDE 3</li>
                    <li style="background: #aaa;">SLIDE 4</li>
                </ul>  
            </div>
        </div>



{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/static/homepage_slideshow/js/jquery.eislideshow.js"></script>
  <script type="text/javascript" src="/static/homepage_department_headlines/js/script.js"></script>
  <!--<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>-->
  <script type="text/javascript">
      $(function() {
          $('#ei-slider').eislideshow({
            animation     : 'center',
            autoplay      : true,
            slideshow_interval  : 3000,
            titlesFactor    : 0
          });
      });
  </script>
{% endblock %}